openapi: 3.0.0
info:
  title: Plataforma de Reportes de Seguridad
  description: API RESTful para reportar incidentes ciudadanos en tiempo real.
  version: 1.0.0
servers:
  - url: https://api.reportes-ciudad.com/v1
    description: Servidor de producción
  - url: http://localhost:8080
    description: Servidor local para desarrollo

paths:
  /usuarios:
    post:
      tags:
        - usuarios
      summary: Registrar nuevo usuario
      description: Crea un nuevo recurso de usuario en el sistema.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UsuarioRegistro"
      responses:
        "201":
          description: Recurso de usuario creado con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  mensaje:
                    type: string
                    example: "Usuario registrado con éxito. Verifique su correo electrónico."
          headers:
            Location:
              description: URL del nuevo recurso creado
              schema:
                type: string
        "400":
          description: Error en la solicitud
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "El correo ya está registrado."

  /usuarios/{id}/verificacion:
    post:
      tags:
        - usuarios
      summary: Verificar cuenta de usuario
      description: Verifica un recurso de usuario existente.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/verificarCodigo"
      responses:
        "200":
          description: Recurso de usuario verificado con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
                    example: "Cuenta activada con éxito."
        "400":
          description: Código incorrecto o expirado
        "404":
          description: Recurso de usuario no encontrado

  /usuarios/{id}:
    get:
      tags:
        - usuarios
      summary: Obtener información de un usuario
      description: Obtiene un recurso de usuario específico.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Recurso de usuario obtenido con éxito
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Usuario"
        "404":
          description: Recurso de usuario no encontrado

    put:
      tags:
        - usuarios
      summary: Actualizar usuario
      description: Actualiza un recurso de usuario existente.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UsuarioEditar"
      responses:
        "200":
          description: Recurso de usuario actualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
                    example: "Datos actualizados correctamente."
        "400":
          description: Error en la solicitud
        "404":
          description: Recurso de usuario no encontrado

    delete:
      tags:
        - usuarios
      summary: Eliminar usuario
      description: Elimina un recurso de usuario existente.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: confirmar
          in: query
          required: true
          schema:
            type: boolean
      responses:
        "204":
          description: Recurso de usuario eliminado con éxito
        "400":
          description: Falta confirmación
        "404":
          description: Recurso de usuario no encontrado

  /sesiones:
    post:
      tags:
        - autenticacion
      summary: Iniciar sesión
      description: Crea un nuevo recurso de sesión.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Login"
      responses:
        "201":
          description: Recurso de sesión creado con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  usuario:
                    $ref: "#/components/schemas/Usuario"
        "401":
          description: Credenciales inválidas

  /reportes:
    post:
      tags:
        - reportes
      summary: Crear reporte
      description: Crea un nuevo recurso de reporte.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Reporte"
      responses:
        "201":
          description: Recurso de reporte creado con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  mensaje:
                    type: string
                    example: "Reporte creado y pendiente de verificación."
          headers:
            Location:
              description: URL del nuevo recurso creado
              schema:
                type: string
        "400":
          description: Datos inválidos
        "500":
          description: Error interno del servidor

    get:
      tags:
        - reportes
      summary: Listar reportes
      description: Obtiene una colección de recursos de reportes.
      parameters:
        - name: categoria
          in: query
          required: false
          schema:
            type: string
        - name: estado
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Colección de recursos de reportes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Reporte"
        "500":
          description: Error interno del servidor

  /reportes/{id}:
    get:
      tags:
        - reportes
      summary: Obtener reporte
      description: Obtiene un recurso de reporte específico.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Recurso de reporte obtenido con éxito
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reporte"
        "404":
          description: Recurso de reporte no encontrado

    put:
      tags:
        - reportes
      summary: Actualizar reporte
      description: Actualiza un recurso de reporte existente.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReporteEditar"
      responses:
        "200":
          description: Recurso de reporte actualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
                    example: "Reporte actualizado correctamente."
        "400":
          description: Datos inválidos
        "404":
          description: Recurso de reporte no encontrado

    delete:
      tags:
        - reportes
      summary: Eliminar reporte
      description: Elimina un recurso de reporte existente.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Recurso de reporte eliminado con éxito
        "404":
          description: Recurso de reporte no encontrado

  /reportes/{id}/comentarios:
    post:
      tags:
        - comentarios
      summary: Crear comentario
      description: Crea un nuevo recurso de comentario asociado a un reporte.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Comentario"
      responses:
        "201":
          description: Recurso de comentario creado con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  mensaje:
                    type: string
                    example: "Comentario agregado correctamente."
          headers:
            Location:
              description: URL del nuevo recurso creado
              schema:
                type: string
        "400":
          description: Datos inválidos
        "404":
          description: Recurso de reporte no encontrado

    get:
      tags:
        - comentarios
      summary: Listar comentarios
      description: Obtiene una colección de recursos de comentarios asociados a un reporte.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Colección de recursos de comentarios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Comentario"
        "404":
          description: Recurso de reporte no encontrado

  /comentarios/{id}:
    get:
      tags:
        - comentarios
      summary: Obtener comentario
      description: Obtiene un recurso de comentario específico.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Recurso de comentario obtenido con éxito
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comentario"
        "404":
          description: Recurso de comentario no encontrado

    put:
      tags:
        - comentarios
      summary: Actualizar comentario
      description: Actualiza un recurso de comentario existente.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComentarioEditar"
      responses:
        "200":
          description: Recurso de comentario actualizado
        "403":
          description: No autorizado
        "404":
          description: Recurso de comentario no encontrado

    delete:
      tags:
        - comentarios
      summary: Eliminar comentario
      description: Elimina un recurso de comentario existente.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Recurso de comentario eliminado con éxito
        "403":
          description: No autorizado
        "404":
          description: Recurso de comentario no encontrado

  /categorias:
    post:
      tags:
        - categorias
      summary: Crear categoría
      description: Crea un nuevo recurso de categoría (solo administradores).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Categoria"
      responses:
        "201":
          description: Recurso de categoría creado con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  mensaje:
                    type: string
                    example: "Categoria creada con exito"
          headers:
            Location:
              description: URL del nuevo recurso creado
              schema:
                type: string
        "400":
          description: Datos inválidos
        "403":
          description: No autorizado
        "500":
          description: Error interno del servidor

    get:
      tags:
        - categorias
      summary: Listar categorías
      description: Obtiene una colección de recursos de categorías.
      responses:
        "200":
          description: Colección de recursos de categorías
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Categoria"

  /categorias/{id}:
    get:
      tags:
        - categorias
      summary: Obtener categoría
      description: Obtiene un recurso de categoría específico.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Recurso de categoría obtenido con éxito
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Categoria"
        "404":
          description: Recurso de categoría no encontrado

    put:
      tags:
        - categorias
      summary: Actualizar categoría
      description: Actualiza un recurso de categoría existente (solo administradores).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoriaEditar"
      responses:
        "200":
          description: Recurso de categoría actualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
                    example: "Categoría editada correctamente."
        "400":
          description: Datos inválidos
        "403":
          description: No autorizado
        "404":
          description: Recurso de categoría no encontrado

    delete:
      tags:
        - categorias
      summary: Eliminar categoría
      description: Elimina un recurso de categoría existente (solo administradores).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Recurso de categoría eliminado con éxito
        "400":
          description: No se puede eliminar
        "403":
          description: No autorizado
        "404":
          description: Recurso de categoría no encontrado

  /notificaciones:
    get:
      tags:
        - notificaciones
      summary: Listar notificaciones
      description: Obtiene una colección de recursos de notificaciones del usuario actual.
      responses:
        "200":
          description: Colección de recursos de notificaciones
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Notificacion"
        "401":
          description: No autenticado
        "500":
          description: Error interno del servidor

  /notificaciones/{id}:
    get:
      tags:
        - notificaciones
      summary: Obtener notificación
      description: Obtiene un recurso de notificación específico.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Recurso de notificación obtenido con éxito
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notificacion"
        "404":
          description: Recurso de notificación no encontrado

    put:
      tags:
        - notificaciones
      summary: Marcar notificación como leída
      description: Actualiza un recurso de notificación existente.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Recurso de notificación actualizado
        "404":
          description: Recurso de notificación no encontrado

components:
  schemas:
    Usuario:
      type: object
      properties:
        id:
          type: string
        nombre:
          type: string
        ciudadResidencia:
          type: string
        telefono:
          type: string
        direccion:
          type: string
        correo:
          type: string
          format: email
        ubicacion:
          type: object
          properties:
            latitud:
              type: number
              format: double
            longitud:
              type: number
              format: double
        rol:
          type: string
        verificado:
          type: boolean

    UsuarioRegistro:
      type: object
      required:
        - nombre
        - ciudadResidencia
        - telefono
        - direccion
        - correo
        - contraseña
        - ubicacion
      properties:
        nombre:
          type: string
        ciudadResidencia:
          type: string
        telefono:
          type: string
        direccion:
          type: string
        correo:
          type: string
          format: email
        contraseña:
          type: string
          format: password
        ubicacion:
          type: object
          properties:
            latitud:
              type: number
              format: double
            longitud:
              type: number
              format: double

    verificarCodigo:
      type: object
      required:
        - correo
        - codigo
      properties:
        correo:
          type: string
          format: email
        codigo:
          type: string

    UsuarioEditar:
      type: object
      properties:
        nombre:
          type: string
        ciudadResidencia:
          type: string
        telefono:
          type: string
        direccion:
          type: string
        correo:
          type: string
          format: email
        contraseña:
          type: string
          format: password
        ubicacion:
          type: object
          properties:
            latitud:
              type: number
              format: double
            longitud:
              type: number
              format: double

    Login:
      type: object
      required:
        - correo
        - contraseña
      properties:
        correo:
          type: string
          format: email
        contraseña:
          type: string
          format: password

    Reporte:
      type: object
      required:
        - titulo
        - categoria
        - descripcion
        - ubicacion
      properties:
        id:
          type: string
        titulo:
          type: string
        categoria:
          type: string
        descripcion:
          type: string
        ubicacion:
          type: object
          properties:
            latitud:
              type: number
              format: double
            longitud:
              type: number
              format: double
        imagenes:
          type: array
          items:
            type: string
            format: uri
        estado:
          type: string
        fechaCreacion:
          type: string
          format: date-time
        usuarioId:
          type: string

    ReporteEditar:
      type: object
      properties:
        titulo:
          type: string
        categoria:
          type: string
        descripcion:
          type: string
        ubicacion:
          type: object
          properties:
            latitud:
              type: number
              format: double
            longitud:
              type: number
              format: double
        imagenes:
          type: array
          items:
            type: string
            format: uri
        estado:
          type: string

    Categoria:
      type: object
      required:
        - nombre
        - descripcion
      properties:
        id:
          type: string
        nombre:
          type: string
        descripcion:
          type: string
        fechaCreacion:
          type: string
          format: date-time

    CategoriaEditar:
      type: object
      properties:
        nombre:
          type: string
        descripcion:
          type: string

    Comentario:
      type: object
      required:
        - contenido
      properties:
        id:
          type: string
        usuarioId:
          type: string
        reporteId:
          type: string
        contenido:
          type: string
        fecha:
          type: string
          format: date-time

    ComentarioEditar:
      type: object
      required:
        - contenido
      properties:
        contenido:
          type: string

    Notificacion:
      type: object
      properties:
        id:
          type: string
        usuarioId:
          type: string
        reporteId:
          type: string
        mensaje:
          type: string
        fecha:
          type: string
          format: date-time
        leida:
          type: boolean
        enlaceReporte:
          type: string
          format: uri

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT